body {
    text-align: center;
}

#introText {
    height: 50px;
    width:800px;
    background-color: #dea46b;
    text-align: center;
    line-height: 50px;
    margin:auto;
}

caption {
    margin-bottom: 10px;
}

.temperature {
    color: blue;
}

.pm25 {
    color: red;
}

.humidity{
    color: green;
}

td {
    padding: 10px;
}
