<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'cloud_ui/style_trends.css' %}">

    <title>Trends</title>
</head>
<body>
    
    <a href="/">
        <button>
            Return Home
        </button>
    </a>

    
    <div id="temperature">
        <canvas id="temperature_canvas" width="500" height="300"></canvas>
    </div>

    <div id="humidity">
        <canvas id="humidity_canvas" width="500" height="300"></canvas>
    </div>

    <div id="air_quality">
        <canvas id="air_quality_canvas" width="500" height="300"></canvas>
    </div>

    <script>

        // function parseTime(t) {
        //     var d = new Date();
        //     var time = t.match( /(\d+)(?::(\d\d))?\s*(p?)/ );
        //     d.setHours( parseInt( time[1]) + (time[3] ? 12 : 0) );
        //     d.setMinutes( parseInt( time[2]) || 0 );
        //     return d.getMinutes();
        // }

        var data = [];
        var labels = [];

        var temperature_endpoint = "/api/trends/temperature";
        var humidity_endpoint = "/api/trends/humidity";
        var air_quality_endpoint = "/api/trends/air_quality";

        // Air Quality
        $.ajax({
            method: "GET",
            url: air_quality_endpoint,
            success: function(data){
                labels = data.labels;
                data = data.data;
                
                var config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "Air Quality (PM2.5) Readings",
                            data: data,
                        }]
                    },
                    options: {
                        scales: {
                            x: [{
                                type: 'time',
                                time: {
                                    unit: 'minute'
                                },
                                title: {
                                    text: "Time"
                                }
                            }]
                        },
                        responsive: false,
                    }
                };

                var context = document.getElementById("air_quality_canvas").getContext("2d");
                var temperature_chart = new Chart(context, config);

            },

            error: function(error){
                console.log(error);
            }

        });

        // Temperature
        $.ajax({
            method: "GET",
            url: temperature_endpoint,
            success: function(data){
                labels = data.labels;
                data = data.data;
                
                var config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "Temperature (°C) Readings",
                            data: data,
                        }]
                    },
                    options: {
                        scales: {
                            x: [{
                                type: 'time',
                                time: {
                                    unit: 'minute'
                                },
                                title: {
                                    text: "Time"
                                }
                            }]
                        },
                        responsive: false,
                    }
                };

                var context = document.getElementById("temperature_canvas").getContext("2d");

                var temperature_chart = new Chart(context, config);

            },

            error: function(error){
                console.log(error);
            }

        });

        // Humidity
        $.ajax({
            method: "GET",
            url: humidity_endpoint,
            success: function(data){
                labels = data.labels;
                data = data.data;
                
                var config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "Humidity (%) Readings",
                            data: data,
                        }]
                    },
                    options: {
                        scales: {
                            x: [{
                                type: 'time',
                                time: {
                                    unit: 'minute'
                                },
                                title: {
                                    text: "Time"
                                }
                            }]
                        },
                        responsive: false,
                    }
                };

                var context = document.getElementById("humidity_canvas").getContext("2d");

                var temperature_chart = new Chart(context, config);

            },

            error: function(error){
                console.log(error);
            }

        });

    </script>


</body>
</html>